[submodule "config/base16-shell"]
	path = config/base16-shell
	url = https://github.com/chriskempson/base16-shell
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "z"]
	path = z
	url = https://github.com/rupa/z
